{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block body %} 
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Hello!</h1>
        <p>Welcome to the new blog. Here you go an example of a blog. This is a basic framework, and a basic blog. And I don't know what other thing
		should've write xD</p>
        <p>Go visit the university website <a href="https://www.uis.edu.co">www.uis.edu.co</a> to check the last notice about UIS and its
		community.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}